h1 a {
    color: #073763;
    font-family: 'Cinzel',serif;
}

body{
	padding: 30px;
}

.page-header {
    background-color: #073763;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

#thisisdate {
	color: red;
	font-family: 'Lobster',underline;
}